nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
}

img {
    width: 300px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
    text-align: left;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Class Slectors*/

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

aside .box {
    width: 20em;
    text-align: center;
}

main img {
    float: right;
}

aside h2 {
    top: 47px;
    left: 200px;
}