nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
}

h1 {
    color: steelblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px steelblue;
}

p {
    padding: 10px;
}

main {
    max-width: 840px;
}

* {
    margin: 10px auto;
    padding: 0%;
    box-sizing: border-box;
}
aside {
    margin: lem;
    border: 1px solid rgba(0, 0, 0, 0.2); /* Blue */
    padding: lem;
    background-color: #eee;
    color: #333;
    text-align: center;
    width: 20em;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
}

p { padding: 0%;}

footer {
    margin-top: lem;
    border-top: 1px solid #000;
    text-align: center;
}

.box {
    margin: lrem;
    border: 1px solid rgba(0, 0, 0,.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}